@font-face {
  font-family: Gotham;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/GothamBook.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-weight: bold;
  src: url("/fonts/GothamBold.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/GothamBoldItalic.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-style: italic;
  src: url("/fonts/GothamBookItalic.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-weight: 300;
  src: url("/fonts/GothamLight.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/GothamLightItalic.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url("/fonts/GothamMedium.ttf"), local("Trebuchet MS");
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/GothamMedium.ttf"), local("Trebuchet MS");
  font-display: swap;
}
