@import url("./reset.css");
@import url("./fonts.css");
@import url("./variables.css");

body {
  font-family: Noto Sans;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
