@import url("./reset.css");
@import url("./fonts.css");
@import url("./variables.css");

body {
  font-family: var(--main-font);
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-text-color);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
