:root {
  --main-font: Montserrat;

  --primary-color: #0084ff;
  --secondary-color: #4a19a6;
  --negative-color: #ffffff;

  --primary-text-color: #000000;
  --secondary-text-color: #333333;

  --spacing-xxxs: 0.0625rem;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.25rem;
  --spacing-xxl: 1.5rem;
  --spacing-xxxl: 2rem;
}
